*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
     max-width: 80%; 
    padding: 30px;
    margin: auto;
    margin-top: 2px;    
}
.container h2{
    color: rgb(245, 247, 241);
    font-size: 42px;
    text-shadow: 3px 2px black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.up{
    font-size: 15px;
    font-style: oblique;
    text-shadow: 0.5px 0.5px rgb(87, 87, 87);
    color: rgb(13, 62, 63);
    text-align: center;
    font-size: 16px;
    font-weight: bold ;
    font-family: 'Roboto', sans-serif;
}

input,textarea{
    display: block;
    width: 80%;
    border:2px solid black;
    border-radius: 12px;
    margin: 10px auto;
    padding: 7px;
    font-size: 16px;
    outline:none;
    
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    font-size: 15px;
    border:2px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    background-color:purple;
    cursor: pointer;

}

.bg{
     width: 100%;
     position: absolute;
     z-index: -1;
     opacity: 0.9;
}
.thanks{
    font-size: 18px;
    background-color: rgb(201, 233, 252);
    font-family: monospace;
    text-align: center;
    font-weight: 700;
}
